<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicación Django</title>
    <link rel="stylesheet" href="{% static 'opgg/styles.css' %}">
</head>

<body>
    <h1 style="text-align: center;">¡Bienvenido a nuestra aplicación de Django!</h1>
    <div style="display: flex; justify-content: center;">
        <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/uVN2UmZM_Q8?autoplay=1"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowFullScreen></iframe>
    </div>

    <div style="display:inline-flex; justify-content: space-around; width: 95vw;">
        <div class="card" style="text-align: center; padding: 1rem; margin: 1rem;">
            <h3>Autores principales de esta página</h3>
            <a style="margin-top:0px;" class="botonsito" href="{% url 'crear' %}">Agregar nuevo autor</a>
            <table>
                {% for obj in object_list %}
                <tr>
                    <!--<td>{{obj.id}}</td>-->
                    <td>{{obj.nombre}}</td>
                    <td>{{obj.apellido}}</td>
                    <!--<td>{{obj.visualizacion}}</td>-->
                    <td><a href="{% url 'modificar' pk=obj.id %}">Modificar</a></td>
                    <td><a href="{% url 'eliminar' pk=obj.id %}">Eliminar</a></td>
                </tr>
                {% endfor%}
            </table>
            <h3>¿Quieres ver todos los demás autores? <br><a class="botonsito" href="{% url 'lista_autores' %}">¡Haz
                    click aquí!</a>
            </h3>


            <form action="{% url 'logout' %}" method="POST">
                {% csrf_token %}
                <button type="submit">Cerrar Sesion</button>
            </form>
            <div style="display: inline-flex;width: -webkit-fill-available; margin: 1px;">
                <form action="{% url 'password_change' %}" method="POST"
                    style="width: -webkit-fill-available;margin: 1px;">
                    {% csrf_token %}
                    <button type="submit">Cambiar contraseña</button>
                </form>

                <form action="{% url 'password_reset' %}" method="POST"
                    style="width: -webkit-fill-available;margin: 1px;">
                    {% csrf_token %}
                    <button type="submit">Eliminar contraseña</button>
                </form>
            </div>
        </div>
 
        

        <div class="card"
            style="padding: 1rem; margin: 1rem; display: flex; flex-direction: column; align-items: center;">
            <h2 style="margin-bottom: 1rem;">Haga clic en el botón verde.</h2>

            <div style="display: flex; justify-content: space-between; width: 100%;height: -webkit-fill-available">

                <a href="https://www.youtube.com/embed/qUEM5m2fv-s" style="width: 50%;"><button
                        style="background-color: greenyellow;width: 98%;height: -webkit-fill-available;"></button></a>

                <a href="{% url 'error' %}" style="width: 50%;"><button
                        style="background-color: red;width: 98%;height: -webkit-fill-available;"></button></a>

            </div>
        </div>
    </div>



</body>

</html>