<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Autoplay Example</title>
</head>
<body>
    <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/uVN2UmZM_Q8?autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowFullScreen></iframe>
</body>
<table>
  <tr>
    <th>Autores</th>
  </tr>
  <tr>
    <td> Manuel Alberto Apolonio Cuevas </td>
  </tr>
  <tr>
    <td> Alejandro Jesus Sansores Arjona </td>
  </tr>
</table>
</html>